<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561346139793-12b889lbbt5185a8qkd637ca2bsbe44t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561346139793-12b889lbbt5185a8qkd637ca2bsbe44t</string>
	<key>API_KEY</key>
	<string>AIzaSyBhIUR893JdyuP5VetHCAhbbjef-tOt4_w</string>
	<key>GCM_SENDER_ID</key>
	<string>561346139793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starwarsProject</string>
	<key>PROJECT_ID</key>
	<string>teststarwarsglobal</string>
	<key>STORAGE_BUCKET</key>
	<string>teststarwarsglobal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561346139793:ios:f257aa4259b1f91c531130</string>
</dict>
</plist>